.form-container{
    background:transparent;
    padding: 20px 20px;
    margin-top: 3%;
    margin-left: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;
    max-width: 60vw;
    min-width: 60vw;
}

.form-container::-webkit-scrollbar{
    display: none;
}

.form-container .uploadForm_div{
    color: aliceblue;
    margin-top: 4rem;
}


.form-container .form_input_div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-container .form_input_div .option{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-container .form_input_div label{
    font-size: x-large;
    font-family: "Gill Sans MT";
    background: aliceblue;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.form-container .form_input_div span{
    position: relative;
    top: 20px;
    right:10px;
}
.form-container .form_input_div input,textarea{
    width: 100%;
    border:0;
    outline: 0;
    font-size: large;
    color: aliceblue;
    background: transparent;
    border-bottom: 2px solid aliceblue;
    margin-top: 1.2rem;
}


.form-container .submitButton button{
    margin: 30px 0;
    background-color: initial;
    background-image: linear-gradient(-180deg, #c037a9, #301934);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 44px;
    line-height: 44px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: fit-content;
    border: 0;
}
.submitButton button:hover {
    background: #c037a9;
}
.submitButton button:active{
    background: #301934;
}

.blockButton button:disabled{
    background-color: #301934;
}
