.uploadForm_div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadForm_div .custom_div{
    margin-top: 2rem;
    width: 70%;
    min-width: 300px;
}

.uploadForm_div .custom_div label{
    border-color: gray;
    color: #0f172a;
}

.uploadForm_div .custom_div label:hover{
    border-color: gray;
    color: #0f172a;
}

.uploadForm_div .custom_div .custom_input:checked + .custom_label{
    background-color:#0f172a;
    color: #e2e8f0;
    border-color: #0f172a;
}


.uploadForm_div .filter_btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.uploadForm_div .filter_btn button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius:10px ;
    font-size: 20px;
    margin: 20px 4px;
}