.home{
    width: 100%;
    margin-top:5rem;
    background-image: linear-gradient(to top , black,#301934);
    /*height: calc(100vh - 3px);*/
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
}

.home .home_back {
    height: 100%;
    /*background-image: url("../image/modern-luxury-authentic-dining-room-interior-design-with-picture-frame.jpg");*/
    background-image: url("../image/homebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}


.home .Recently_added_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5rem;
}
.home .text{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    font-size: x-large;
    color: aliceblue;
}
.home .text p{
    color: rgba(240, 248, 255, 0.43);
    font-family: cursive;
}
.home .show_property{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
