.custom_theme_navbar{
    background-color: transparent !important;
}

.custom_theme_navbar a{
    font-size: 125%;
    color: aliceblue !important;
    font-weight: bold;
}

.custom_theme_navbar h5{
    color: aliceblue;
}

.custom_theme_navbar a:hover{
    color: aliceblue !important;
}



.custom_theme_navbar .dropdown-menu{
    background: transparent !important;
}

.custom_theme_navbar .dropdown-menu a:hover{
    color: aliceblue !important;
    background-color: transparent !important;
}

.custom_theme_navbar_btn{
    background-color: aliceblue;
}

