/* General styles */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
    color: aliceblue;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar .navbar-brand a{
    text-decoration: none;
    color: aliceblue;
}

.navbar-menu li {
    margin-right: 20px;
    margin-top: 1rem;
}

.navbar-menu li a{
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}


