.custom_theme_navbar{
    background-color: rgb(2, 6, 23) !important;
}

.custom_theme_navbar a{
    font-size: 125%;
    color: aliceblue;
    font-weight: bold;
}

.custom_theme_navbar h5{
    color: aliceblue;
}

.custom_theme_navbar a:hover{
    color: #007aff;
}

.custom_theme_navbar_btn{
    background-color: aliceblue;
}
