.aboutus{
    width:100%;
    height: 100vh;
    background-image: radial-gradient(circle at 80% 50%, rgba(1, 10, 20, 0.88), #000017);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

.aboutus .odd{
    width: calc(80% - 10px);
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
}

.aboutus .even{
    width: calc(80% - 10px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: aliceblue;
}

.odd .reasons_tag{
    width: calc(80% - 10px);
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
}

.aboutus p{
    width: calc(50% - 10px);
}

.aboutus h1{
    font-size: 400%;
}

@media (min-width: 601px) and (max-width: 1080px) {
    .odd{
        width: calc(100% - 10px);
    }
    .even{
        width: calc(100% - 10px);
    }
    .aboutus p{
        width: calc(100% - 10px);
    }
}

@media (max-width: 500px) {
    .aboutus p{
        width: calc(100% - 10px);
    }
    .odd .reasons_tag{
        width: calc(100% - 10px);
    }
}