.aboutus{
    width:100%;
    min-height: 95vh;
    margin-top:5rem;
    background-image: url("../image/6937900_3485431.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

.aboutus .heading{
    height: 10vh;
    margin-top: 2rem;
    color: aliceblue;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutus .main_aboutus{
    width: 60vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.aboutus .main_aboutus .heading1{
    padding: 2rem;
}
.aboutus .main_aboutus p{
    padding: 0 1rem;
}

.aboutus .Founders{
    margin-top: 2rem;
    text-align: center;
}

.aboutus .Founders .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .aboutus .main_aboutus{
        width: 100vw;
    }
}
