.aboutus{
    width:100%;
    margin-top:5rem;
    background-image: linear-gradient(to bottom, #14031a, rgba(23, 1, 23, 0.96));
}
.aboutus .div1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.aboutus .div1 .text{
    font-size: x-large;
    color: rgba(247, 240, 255, 0.79);
}

.aboutus .div1 .div1_image img{
    margin-top: 2rem;
    width: 100%;
    max-width: 500rem;
    height: auto;
    object-fit: cover;
}

.aboutus .services{
  display: flex;
  flex-direction: column;
}

.aboutus .heading{
    text-align: center;
    color: rgba(247, 240, 255, 0.79);;
    font-size: xx-large;
    font-family:cursive;
}

.aboutus .services .display_services{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.aboutus .intro .display_dev{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 4rem;
}

.aboutus .dev{
    margin: 2rem 4rem;
    width: 10rem;
    height: 10rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.aboutus .intro .display_dev h3{
    position: relative;
    margin-top: 13rem;
    margin-left: -14rem;
    font-size: x-large;
    color: rgba(247, 240, 255, 0.79)

}