.footer_div{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
}

.footer_div .footer_main_content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_div .footer_main_content .feedback{
    width: calc(60% - 10px);

}

.footer_div .footer_main_content .feedback .user_feedback textarea{
    width: calc(60% - 10px);
    background-color: rgba(15, 20, 28, 0.63);
    border: none;
    border-radius: 7px;
    margin-right: 5px;
}
.footer_div .footer_main_content .feedback .user_feedback{
    display: flex;
}

.footer_main_content .feedback .user_feedback .active{
    width: calc(20% - 10px);
    border: none;
    background-color: rgba(72, 76, 87, 0.63);
    color: aliceblue;
    border-radius: 7px;
}

.footer_main_content .feedback .user_feedback .disable{
    width: calc(20% - 10px);
    border: none;
    background-color: rgba(72, 76, 87, 0.63);
    color: rgba(72,76,87,0.63);
    border-radius: 7px;
}

.footer_main_content .feedback .user_feedback .active:hover{
    background-color: aliceblue;
    color: rgba(72, 76, 87, 0.63);
}


.footer_div .footer_main_content .link_list{
    display: flex;
    width: calc(40% - 10px);
    justify-content: space-around;
}
.footer_div .footer_main_content .link_list a{
    text-decoration: none;
    color: aliceblue;
}

.footer_div h2{
    width: calc(80% - 10px);
    height: 1px;
    background: rgba(147, 188, 224, 0.61);
}

@media (min-width: 810px) and (max-width: 1300px) {

    .footer_div .footer_main_content .link_list{
        flex-direction: column;
        width: calc(30% - 10px);
    }
}

@media (max-width: 809px) {
    .footer_div .footer_main_content{
        width: 100%;
    }
    .footer_div .footer_main_content .feedback .user_feedback{
        flex-direction: column;
    }
    .footer_div .footer_main_content .feedback .user_feedback textarea{
        width: calc(70% - 10px);
    }
    .footer_div .footer_main_content .link_list{
        flex-direction: column;
        width: calc(30% - 10px);
    }
    .footer_main_content .feedback .user_feedback .active{
        width: calc(70% - 10px);
        height: 3rem;
        margin-top: 10px;
    }
    .footer_div h2{
        width: calc(100% - 10px);
        height: 1px;
        background: rgba(147, 188, 224, 0.61);
    }

}