.service_container{
    width:100%;
    height: 100vh;
    background-image: radial-gradient(circle at 80% 50%, rgba(1, 10, 20, 0.88), #000017);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

.service_container .services_display{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.service_container .serviceForm_container{
    width: 100%;
    /*padding: 1rem 2rem;*/
}

