body{
    background-image: url("https://i.pinimg.com/originals/71/87/13/7187136a4e35bec058f219bfd21c8c6f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}