body{
    background-image: radial-gradient(circle at 80% 50%, rgba(1, 10, 20, 0.88), #000017), url("./components/image/back.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}