.upperdiv{
    display: flex;
    flex-direction: row;
    background-color: #0f172a;
}
.upperdiv .header{
    width: calc(60% - 10px);
    display: flex;
    color: aliceblue;
    padding: 200px 20px;
    flex-direction: column;
}
.upperdiv .header h1{
    font-weight: bold;
    font-size: 300%;
    padding: 20px 20px;
}
.upperdiv .header h2{
    padding: 20px 20px;
}
.header .image_show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header .image_show img{
    width: calc(50% - 10px);
    padding: 20px 20px;
    border-radius: 5rem;
}
.userAuth-div{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 10px;
}
.userAuth-div .userAuth-mode-div button{;
    font-size: medium;
    width: 10rem;
    height: 50px;
    border-radius: 5px;
    border-width: 0;
    background-color: rgba(211, 129, 79, 0.98);
    transition: 0.3s ease-in-out;
    margin: 0.5rem;
    color: aliceblue;
}

.userAuth-div .userAuth-mode-div button:hover{
    color: black;
    background-color: rgba(207, 23, 158, 0.87);
}

.userAuth-div .userAuth-main-div{
    width: 20rem;
    height: fit-content;
    border: 1px solid;
    padding: 5px 5px;
    border-radius: 1rem;
    border-color: #c037a9;
    box-shadow: -5px -5px #c037a9;
}
.userAuth-div .userAuth-main-div .userAuth-input-div{
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAuth-div .userAuth-main-div .userAuth-input-div h1{
    /*margin-top: 5rem;*/
    margin-bottom: 30px;
    color: #c037a9;
}

.userAuth-div .userAuth-main-div .userAuth-input-div label{
    font-size: large;
    color: aliceblue;
    position: relative;
    top:25px;
    right:100px;
}

.userAuth-div .userAuth-main-div .userAuth-input-div input{
    width: 18rem;
    margin-top: 30px;
    height: 50px;
    border-radius: 5px;
    border-width: 0;
    padding: 20px;
    outline-color: rgba(207, 23, 158, 0.87);
}
.userAuth-div .userAuth-main-div .userAuth-input-div .image_select{
    background-color: aliceblue;
}
.userAuth-div .userAuth-main-div .userAuth-input-div #user_profile_image{
    height: 100px;
    width: 100px;
}

.userAuth-div .userAuth-main-div .userAuth-input-div button{
    font-size: medium;
    width: 10rem;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    border-width: 0;
    background-color: rgba(207, 23, 158, 0.87);
    transition: 0.3s ease-in-out;
}

.userAuth-div .userAuth-main-div .userAuth-input-div button:hover{
    color: aliceblue;
    background-color: rgba(211, 129, 79, 0.98);
}

@media (max-width: 999px) {
    .upperdiv{
        flex-direction: column;
    }
    .upperdiv .header{
        width: 100%;
    }
    .header .image_show img{
        width: 50%;
        padding: 1px 4px;
        border-radius: 1px;
    }
    .userAuth-div{
        margin-top: -20rem;
        width: 100%;
    }
}