.service_card{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction:column;
    padding: 10px 10px;
    margin: 2rem;
    justify-items: center;
    align-items: center;
}

.service_card .show_image img{
    width: 5rem;
    height: 5rem;
}

.service_card .info_text{
    text-align: center;
    color: aliceblue;
}
.service_card .info_text h3{
    margin-top: 1rem;
    font-size:large;
    font-family: "Lucida Console", "Courier New", monospace;
}