.full_card {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 300px;
    height: 250px;
    border-radius: 1rem;
    border: 2px solid #0f172a;
    color: #0f172a;
    box-shadow: 0 1px 1px #0f172a, 0 2px 8px #0f172a, inset 0px 0px 0px 1px #0f172a;
    transition: transform 0.3s ease-in-out;
}
.full_card .image_container{
    display: flex;
    justify-content: center;
    padding: 2px 2px;
    flex-grow: 1;
}

.full_card .image_container img{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    width: 294px;
    height: 200px;
}


.full_card button{
    height: 3rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 2px 2px;
    border: none;
    background: rgb(3, 23, 41);
    font-size: 20px;
    color: aliceblue;
}

.full_card:hover{
    background-color: aliceblue;
    color: black;
    transform: rotate(-1deg);
    box-shadow: 0 1px 1px rgb(245, 247, 248), 0 2px 8px rgb(187, 207, 217), inset 0 0 0 1px rgba(16, 128, 185, 0.4);
    button{
        background-color: rgba(1, 18, 31, 0.2);
        color: black;
    }
}
