.full-card{
    margin: 10px 10px;
    padding: 2rem;
    width: 20rem;
    height: fit-content;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-color: #F4C430;
    background-color: rgb(40,40,40);
    color : aliceblue;
}

.full-card .card-upperhalf{
    height: 16rem;
}

.full-card .card-middlehalf{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.full-card .card-middlehalf h4{
    margin-top: -25px;
    margin-left: 180px;
    background-color: #17cf97;
    width: fit-content;
    font-size: large;
    padding: 5px 5px;
    border-radius: 0.5rem;
    color: black;
}
.full-card .lower-half{
    margin-top: 20px;
}