.propertyTypeCard{
    padding: 10px;
    margin: 30px;
}

.propertyTypeCard .text{
    color: #2D033B;
    text-align: center;
}

.propertyTypeCard .svg_area{
    height: calc(50%);
    display: flex;
    justify-content: center;
}

.propertyTypeCard .svg_area img{
    width: 100px;
}