.review_card{
    min-width: 40%;
    max-width: 400px;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 2rem;
    align-items: center;
    padding: 10px 10px;
    font-size: large;
    color: aliceblue;
}

.review_card img{
    width: 150px;
    height: 150px;
    border-radius: 20rem;
    padding: 10px 10px;
}