.custom-select{
    position: relative;
}
.selected-option{
    width: 12rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2D033B;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
    font-size: 14px;
    font-weight: 500;
    height: 2.5rem;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.options-container{
    margin-top: 2rem;
    background-color: aliceblue;
    position: absolute;
    top: 100%; /* Position below the selected option */
    left: 0;
    z-index: 1; /* Ensure the options container appears above other content */
    max-height: 200px; /* Set a maximum height to create a scrollable container if needed */
    overflow-y: auto;
    width: 100%;
    border-radius: 3px;
}
.options-container .option{
    text-align: center;
    font-family: cursive;
    height: 2.5rem;
    border: 1px solid rgba(35, 2, 45, 0.27);
    padding: 5px;
    background-color: rgba(45, 3, 59, 0.19);

}

.options-container .option:hover{
    background-color: rgba(45, 3, 59, 0.73);
    color: aliceblue;
}

@media only screen and (max-width:1400px ) {
    .options-container{
        margin-top: 5px;
        background-color: aliceblue;
    }
}
